body {
  margin: 0;
  padding: 0;
  background-color: rgb(220, 220, 220);
}

.homeContainer {
  margin: 110px 200px 0 200px;
  text-align: center;
}

.individualCountryContainer {
  margin: 50px 200px 0 200px;
}

td,
th {
  border: 2px solid rgb(200, 200, 200);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}
